{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Search for Presidents
{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xl-12">

			<h1 class="mt-5">Search for U.S. Presidents</h1>

			<p class="lead">Type any part of a president's name to search.</p>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 alert alert-warning p-4">

			{{ wtf.quick_form(form) }}

			<p class="mt-4"><strong>{{ message }}</strong></p>

		</div>
	</div>
</div>

{% endblock %}
